*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45 sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 10px;
}
body {
  margin: 0;
  background: #edeef0;
  font-size: 17px;
  font-weight: normal;
}
